<form class="filters">
  <p-inputgroup>
    <p-inputgroup-addon>
      <i class="pi pi-map"></i>
    </p-inputgroup-addon>
    <input
      pInputText
      type="text"
      placeholder="Ex: Nantes, Paris..."
      [(ngModel)]="searchUser.localisation"
      (ngModelChange)="applySearch()"
      name="localisation"
    />
  </p-inputgroup>
  <p-selectbutton
    name="filtersActivities"
    [options]="itemsFilters"
    [(ngModel)]="searchUser.types"
    (ngModelChange)="applySearch()"
    size="large"
    [multiple]="true"
    [optionValue]="'type'">
    <ng-template #item let-item>
      <i [ngClass]="['fa-solid', item.icon]"></i>
    </ng-template>
  </p-selectbutton>
</form>
