form {
  display: flex;
  flex-direction: column;

  a {
    text-align: end;
    color: black;
    padding: 2%;
  }
}

.button-form-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}


