<form #contactForm="ngForm" (ngSubmit)="contactForm.valid && onSubmit()">
  <app-input-text
    [inputControls]="newInscription.pseudo"
    [isFormSubmitted]="contactForm.submitted"
  ></app-input-text>
  <app-input-text
    [inputControls]="newInscription.email"
    [isFormSubmitted]="contactForm.submitted"
  ></app-input-text>
  <app-input-text
    [inputControls]="newInscription.password"
    [isFormSubmitted]="contactForm.submitted"
  ></app-input-text>
  <app-input-text
    [inputControls]="newInscription.confirmPassword"
    [isFormSubmitted]="contactForm.submitted"
  ></app-input-text>
  <button type="submit" [disabled]="contactForm.invalid">S'incrire</button>
</form>
