
.passwordLogin {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.button-form-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.passwordLogin ::ng-deep .p-component {
  width: 100%;
}
