<p-card [style]="{width: '100%', overflow: 'hidden'}" (click)="seeDetails()">
  <ng-template pTemplate="header">
    <div class="relative mx-auto w-full">
      <div class="flex top-0 left-0 absolute z-1 mt-3 ml-3">
        <app-icon-activity [activityTypes]="activity.type"></app-icon-activity>
      </div>
      <img [src]="activity.picture" [ngStyle]="{width: '100vw'}" alt="image"/>
    </div>
  </ng-template>
  <ng-template pTemplate="title">{{ activity.name }}</ng-template>
  <app-activities-levels
    [rating]="activity.rating"
    [difficulty]="activity.difficulty"
    [duration]="activity.duration"></app-activities-levels>

</p-card>
