<div class="border-1 surface-border border-round m-2 p-3">
  <div class="mb-3">
    <div class="relative mx-auto">
      <p-image alt="Card" [src]="activity.picture" [preview]="true" class="w-full border-round">
        <ng-template pTemplate="indicator">
          <p>
            {{ activity.description }}
          </p>
        </ng-template>
      </p-image>
      <p-tag
        [value]="activity.description"
        severity="success"
        class="absolute"
        [ngStyle]="{ 'left.px': 5, 'top.px': 5 }"/>
    </div>
  </div>
</div>
