.display-activities {
  position: relative;
  margin-top: 15%;
}

.absolute-tag {
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 5;
}

.filter-icon {
  position: absolute;
  top: -30px;
  right: 60px;
}
