.display-activities {
  position: relative;
  margin-top: 15%;

  h3 {
    padding-left: 5%;
  }
}


.absolute-tag {
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 5;
}

.filter-icon {
  position: absolute;
  top: -60px;
  right: 30px;
}

:host ::ng-deep {
  .p-scroller-viewport {
    flex: none;
  }

  p-skeleton {
    width: 100%;
  }
}
