.display-activities {
  position: relative;

  h3 {
    padding-left: 5%;
  }
}


.absolute-tag {
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 5;
}

:host ::ng-deep {
  .p-scroller-viewport {
    flex: none;
  }

  p-skeleton {
    width: 100%;
  }
}
