.input-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 1%;
}

.passwordLogin ::ng-deep .p-component {
  width: 100%;
}

::ng-deep .p-iconwrapper {
  justify-content: end;
}
