<div class="card">
  <p-speedDial
    [model]="itemsFilters"
    radius="120"
    direction="down-left"
    type="quarter-circle"
    showIcon="pi pi-filter"
    hideIcon="pi pi-times"
    transitionDelay="80"
    buttonClassName="p-button">
    <ng-template let-item pTemplate="item">
      <app-icon-activity
        [type]="item.type"
        [icon]="item.icon"
        [backgroundColor]="item.backgroundColor"
        [iconColor]="item.iconColor"
        [iconSize]="'1.1rem'"
        (action)="applyFilter($event)">
      </app-icon-activity>
    </ng-template>
  </p-speedDial>
</div>
