<p-toast position="top-center"/>
@if (statusResetPassword.isStart) {
  <div class="sendEmail">
    <form (ngSubmit)="onSubmitEmail()">
      <h3>Merci de renseigner le champ ci-dessous afin que nous puissions vous envoyer un code pour vérifier votre
        identité :
      </h3>
      <app-input-text [inputControls]="email"
                      [autocomplete]="true"></app-input-text>
      <p-button
        [rounded]="true"
        type="submit"
        label="Envoyer le code"
        [disabled]="!email.isValid"
      ></p-button>
    </form>
  </div>
} @else if (statusResetPassword.isEmailSend && !statusResetPassword.isCodeSend) {
  <form #formSubmitCode="ngForm">
    <h3>Veuillez saisir le code reçu par mail, afin de réinitialiser le mot de passe. </h3>
    <p-inputOtp [(ngModel)]="code" required [minlength]="5" [length]="5" [integerOnly]="true" name="code"></p-inputOtp>
    <div class="flex justify-content-around mt-5 align-self-stretch">
      <p-button (click)="onResendCode()" label="Renvoyer le code" [link]="true" class="p-0"/>
      <p-button
        label="Valider"
        type="submit"
        [disabled]="formSubmitCode.invalid"
        [rounded]="true"
        (click)="onSubmitCode()"/>
    </div>
  </form>
} @else if (statusResetPassword.isCodeSend && !statusResetPassword.isPasswordChanged) {
  <form #formChangePassword="ngForm">
    <h3>Choisissez votre nouveau mot de passe :</h3>
    <div class="flex flex-column justify-content-around mt-5 align-self-stretch">
      @for (passwordInput of passwords; track $index) {
        <app-input-text [inputControls]="passwordInput"></app-input-text>
      }
      <p-button
        label="Valider"
        type="submit"
        [disabled]="!checkFormValidity()"
        [rounded]="true"
        (click)="onSubmitNewPassword()"/>
    </div>
  </form>
}

