@if (statusResetPassword === "start") {

  <form (ngSubmit)="onSubmitEmail()">
    <h3>Veuillez saisir votre email :</h3>
    <app-input-text [inputControls]="email"
                    [autocomplete]="true"></app-input-text>
    <p-button
      [rounded]="true"
      type="submit"
      label="Envoyer le code"
      [disabled]="!email.isValid"
    ></p-button>
  </form>
} @else if (statusResetPassword === "emailSend") {
  <form (ngSubmit)="onSubmitCode()">
    <h3>Veuillez saisir le code reçu par mail, afin de réinitialiser le mot de passe. </h3>
    <p-inputOtp [(ngModel)]="code" [length]="5" [integerOnly]="true" name="code"></p-inputOtp>
    <div class="flex justify-content-around mt-5 align-self-stretch">
      <p-button label="Renvoyer le code" [link]="true" class="p-0"/>
      <p-button label="Valider" type="submit" [rounded]="true"/>
    </div>
  </form>
}

