.sendEmail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}

h3 {
  color: #6b7280;
  text-align: center;
  padding: 5%;
}

p-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

p-inputotp {
  display: flex;
  justify-content: center;
  align-items: center;
}
