<div class="input-text">
  <label for="{{ inputControls.label }}">{{ inputControls.label }}</label>
  <input
    #refInput="ngModel"
    pInputText
    [type]="inputControls.type"
    [placeholder]="inputControls.placeholder"
    [(ngModel)]="inputControls.value"
    (ngModelChange)="onInputChange()"
    [required]="inputControls.controls.required"
    [minlength]="inputControls.controls.minLength"
    [maxlength]="inputControls.controls.maxLength"
    [pattern]="inputControls.controls.pattern || ''"
    autocomplete="autocomplete && inputControls.controls.type"
  />
  <app-input-error
    [isFormSubmitted]="isFormSubmitted"
    [refInput]="refInput"
    [inputControls]="inputControls"
  ></app-input-error>
</div>
